<div id="<%= dom_id comment %>">
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter_id %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= comment.location_id %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= comment.content %>
  </p>

</div>
