<div class="container w-50 mx-auto mt-4">
  
    <div class="card mb-4">
      <div class="card-body">
        <p class="mb-1"><strong><%= rating.user.username %></strong></p>
        <p class="mb-2 text-muted">Overall Rating: <%= rating.overall_rating %></p>
        <p><%= rating.content %></p>

        <%# if rating.image.attached? %>
<!--          <div class="mt-3">-->
            <%#= image_tag rating.image_url, class: "img-fluid rounded" %>
<!--          </div>-->
        <%# end %>
      </div>
    </div>
  
</div>
