<div class="container w-50 mx-auto mt-4">
  
    <div class="card mb-4">
      <div class="card-body">
        <p class="mb-1"><strong><%= rating.user.username %></strong></p>
        <p class="mb-2 text-muted">Overall Rating: <%= rating.overall_rating %></p>
        <p><%= rating.content %></p>

        <% if rating.images.any? %>
          <div class="mt-3">
            <% rating.images.each do |image|%>
              <%= image_tag image.picture.url, class: "img-fluid rounded", width: 300 %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  
</div>
