<div id="<%= dom_id favorite_place %>">
  <p>
    <strong>User:</strong>
    <%= favorite_place.user_id %>
  </p>

  <p>
    <strong>Place:</strong>
    <%= favorite_place.place_id %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= favorite_place.note %>
  </p>

</div>
