<p style="color: green"><%= notice %></p>

<% content_for :title, "Favorite places" %>

<h1>Favorite places</h1>

<div id="favorite_places">
  <% @favorite_places.each do |favorite_place| %>
    <%= render favorite_place %>
    <p>
      <%= link_to "Show this favorite place", favorite_place %>
    </p>
  <% end %>
</div>

<%= link_to "New favorite place", new_favorite_place_path %>
