<div id="<%= dom_id image %>">
  <p>
    <strong>Location:</strong>
    <%= image.location_id %>
  </p>

  <p>
    <strong>Poster:</strong>
    <%= image.poster_id %>
  </p>

  <p>
    <strong>Picture:</strong>
    <%= image.picture %>
  </p>

</div>
